<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healing Rain: Positively Gaming</title>
    <link rel="stylesheet" href="{{ request.static_url('healingrain:static/css/foundation.css') }}" />
    <script src="{{ request.static_url('healingrain:static/js/vendor/modernizr.js') }}"></script>
  </head>
  <body>

    {# templates can extend base.jinja2 with a block named "content" #}
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <script src="{{ request.static_url('healingrain:static/js/jquery.js') }}"></script>
    <script src="{{ request.static_url('healingrain:static/js/foundation.min.js') }}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
